.aboutme {
	display: flex;
	position: relative;
	div {
		transform: translateY(-20vh);
		opacity: 0;
		transition: 0.8s;
		position: relative;
		top: 25vh;
		left: 48vw;
		color: white;
		font-size: 7vw;
		// text-transform: uppercase;
	}
	&.active {
		div {
			transform: translateY(0);
			opacity: 1;
		}
		img {
			clip: rect(0, 45vw, 60vh, 0vh);
			transition: 2s;
			&.second {
				transition: 2.5s;
				z-index: 10;
				clip: rect(0, 45vw, 60vh, 0vh);
			}
		}
	}

	img {
		position: absolute;
		top: -15vh;
		left: 2vw;
		width: 45vw;
		// height: 60vh;
		transition: 1s;
		clip: rect(0, 4vw, 15vh, 0);
		&.second {
			clip: rect(0, 0, 0, 0);
			transition: 1s;
		}
	}
}
