.aboutme {
	display: flex;
	position: relative;

	.title {
		transform: translateY(-20vh);
		opacity: 0;
		transition: 0.8s;
		position: relative;
		top: 20vh;
		left: 10vw;
		color: white;
		font-size: 12vh;
		z-index: 10;
		// background-color: rgba(0, 0, 0, 1);
	}

	.wire {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition: 0.5s;
		clip: rect(0, 4.4vw, 100vh, 0);
		// background-color: rgba(187, 10, 10, 0.356);
	}

	.aboutitems {
		position: absolute;
		top: 38vh;
		left: 9.5vw;
		width: 40vw;
		height: 40vh;
		color: white;
		.item {
			position: relative;
			display: flex;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 33%;
			display: flex;
			transition: 1s;
			opacity: 0;
			.right {
				margin-left: 2.5vw;
				display: flex;
				flex-direction: column;
				.up {
					font-size: 1.1vw;
				}
				.down {
					font-size: 0.9vw;
					margin-left: 1.5vw;
					font-weight: 300;
				}
			}
			&.origin {
				transform: translateX(-10vw);
				.left {
					height: 50%;
					margin-left: 8vw;
				}
				.downer {
					font-size: 0.9vw;
					margin-left: 1.9vw;
					font-weight: 300;
				}
			}
			&.studies {
				transform: translateX(-30vw);
				.left {
					height: 35%;
					margin-left: 9.5vw;
				}
				.downer {
					font-size: 0.9vw;
					margin-left: 2.6vw;
					font-weight: 300;
				}
			}
			&.work {
				transform: translateX(-40vw);
				.left {
					height: 40%;
					margin-left: 12vw;
				}
				.downer {
					font-size: 0.9vw;
					margin-left: 1.7vw;
					font-weight: 300;
				}
			}
		}
	}

	.skillsitems {
		position: absolute;
		top: 52vh;
		left: 66vw;
		width: 30vw;
		height: 50vh;
		color: white;
		.title {
			position: relative;
			top: 0;
			left: 4vw;
			font-size: 1.6vw;
			height: 7vh;
			transition: 1s;
			transform: translateX(20vw);
			opacity: 0;
		}
		.itemwrapper {
			display: grid;
			width: 25vw;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-gap: 1vw;
			.item {
				display: flex;
				flex-direction: column;
				font-weight: 300;
				align-items: center;
				font-size: 0.7vw;
				background-color: rgba(14, 14, 14, 0);
				color: rgb(255, 255, 255);
				height: 7vh;
				width: 7vh;
				transform: translateX(20vw);
				transition: 1s;
				opacity: 0;
				img {
					position: relative;
					top: 0;
					left: 0;
					height: 5vh;
					width: 5vh;
				}
			}
		}
	}

	&.active {
		div {
			transform: translateY(0);
			opacity: 1;
		}
		.wire {
			clip: rect(0, 100vw, 100vh, 0vh);
			transition: 3s;
			// transition-timing-function: cubic-bezier(0.26, 0.53, 0.68, 0);
			// transition-timing-function: cubic-bezier(0.57, 0.62, 0.48, 0.07);
			// transition-timing-function: cubic-bezier(0.52, 0.42, 0.52, 0);
			transition-timing-function: ease-in-out;
		}
		.aboutitems {
			.item {
				transform: translateX(0);
				transition: 1.6s;
				transition-delay: 1s;
				opacity: 1;
			}
		}
		.skillsitems {
			.title {
				transform: translateX(0);
				transition-delay: 0.5s;
				opacity: 1;
			}
			.itemwrapper {
				.item {
					opacity: 1;
					transform: translateX(0);
					&.firstrow {
						transition-delay: 1s;
					}
					&.secondrow {
						transition-delay: 1.2s;
					}
					&.thirdrow {
						transition-delay: 1.4s;
					}
					&.fourthrow {
						transition-delay: 1.6s;
					}
				}
			}
		}
	}
}
