.aboutme {
	display: flex;
	position: relative;
	.title {
		transform: translateY(-20vh);
		opacity: 0;
		transition: 0.8s;
		position: relative;
		top: 15vh;
		left: 10vw;
		color: white;
		font-size: 14vh;
		z-index: 10;
	}
	.wire {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition: 1s;
		clip: rect(0, 4.4vw, 100vh, 0);
		z-index: -10;
		// background-color: rgba(187, 10, 10, 0.356);
	}
	.aboutitems {
		position: absolute;
		top: 38vh;
		left: 10vw;
		width: 38vw;
		height: 40vh;
		color: white;
		.item {
			position: relative;
			display: flex;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 33%;
			display: flex;
			transition: 1s;
			opacity: 0;
			.right {
				margin-left: 2.5vw;
				display: flex;
				flex-direction: column;
				font-weight: 300;
				.up {
					font-size: 2vh;
					font-weight: 500;
					text-transform: uppercase;
					background: linear-gradient(
						to right,
						#ec4a21 0%,
						#b24ae2 100%
					);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				.down {
					font-size: 1.7vh;
					margin-left: 2vw;
				}
				.downer {
					font-size: 1.7vh;
				}
			}
			&.origin {
				transform: translateX(-10vw);
				.left {
					height: 45%;
					margin-left: 8.5vw;
				}
				.downer {
					margin-left: 2.5vw;
				}
			}
			&.studies {
				transform: translateX(-30vw);
				.left {
					height: 30%;
					margin-left: 10vw;
				}
				.downer {
					margin-left: 3.2vw;
				}
			}
			&.work {
				transform: translateX(-40vw);
				.left {
					height: 30%;
					margin-left: 12vw;
				}
				.downer {
					margin-left: 1.8vw;
				}
			}
		}
	}
	.skillsitems {
		position: absolute;
		top: 42vh;
		left: 43vw;
		width: 30vw;
		height: 50vh;
		color: white;
		.title {
			position: relative;
			top: 2vh;
			left: 4vw;
			font-size: 2.7vh;
			height: 7vh;
			transition: 1s;
			transform: translateY(20vh);
			width: 15vh;
			opacity: 0;
			background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.itemwrapper {
			display: grid;
			margin-top: 0.5vw;
			width: 25vw;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-gap: 1.2vw;
			.item {
				display: flex;
				flex-direction: column;
				font-weight: 300;
				align-items: center;
				font-size: 0.7vw;
				color: rgb(255, 255, 255);
				height: 5.5vh;
				width: 5.5vh;
				transform: translateY(20vh);
				transition: 1s;
				opacity: 0;
				img {
					position: relative;
					top: 0;
					left: 0;
					height: 3.5vh;
					width: 3.5vh;
				}
			}
		}
	}
	.readmystory {
		position: absolute;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.8s;
		top: 56vh;
		left: 69vw;
		font-size: 3vh;
		background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		opacity: 0;
		transform: translateX(20vw);
	}
	.mystorybutton {
		position: absolute;
		top: 77vh;
		left: 86vw;
		height: 38px;
		width: 38px;
		border-radius: 50%;
		z-index: 20;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: translateX(20vw);
		opacity: 0;
		transition: 1s;
		.arrow {
			transition: 0.5s;
			height: 3px;
			width: 20px;
			position: absolute;
			background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
			&.up {
				transform: rotate(45deg);
				top: 12px;
				left: 14px;
			}
			&.down {
				transform: rotate(-45deg);
				bottom: 11px;
				left: 14px;
			}
		}
		&:hover {
			cursor: pointer;
		}
		&.opened {
			// cursor: pointer;
			transform: translateX(10vw) !important;
			.arrow {
				background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
				&.up {
					transform: rotate(135deg);
					// top: 18px;
					// left: 11px;
				}
				&.down {
					transform: rotate(-135deg);
					// top: 18px;
					// left: 11px;
				}
			}
		}
	}
	.blur {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 0vw;
		z-index: 15;
		backdrop-filter: blur(5px);
		visibility: hidden;
		&.opened {
			backdrop-filter: blur(5px);
			width: 100vw;
			visibility: visible;
		}
	}
	.mystory {
		position: absolute;
		width: 30vw;
		height: 100vh;
		top: 0;
		left: 100vw;
		display: flex;
		z-index: 10;
		transition: 1s;
		&.opened {
			left: 0vw;
		}
		.story {
			width: 30vw;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: 0.5s;
			p {
				width: 23vw;
				color: white;
				font-size: 1vw;
				font-weight: 300;
				margin-bottom: 1rem;
				text-indent: 2rem;
			}
			img {
				width: 3vw;
				position: relative;
				left: 7vw;
			}
			&.one {
				opacity: 1;
			}
		}
		.story-iterator {
			position: absolute;
			top: 80vh;
			left: 12.5vw;
			width: 5vw;
			height: 5vh;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.iterator-ball {
				height: 1vh;
				width: 1vh;
				border: 0.3vh solid rgb(255, 255, 255);
				border-radius: 50%;
				&:hover {
					cursor: pointer;
				}
			}
			.iterator-ball-filled {
				height: 1vh;
				width: 1vh;
				border: 0.3vh solid rgb(255, 255, 255);
				background-color: white;
				position: absolute;
				left: 0vw;
				border-radius: 50%;
				transition: 0.5s;
			}
		}
	}
	&.active {
		.title {
			transform: translateY(0);
			opacity: 1;
		}
		.wire {
			clip: rect(0, 100vw, 100vh, 0vh);
			transition: 3s;
			transition-timing-function: ease-in-out;
			// opacity: 0.4;
		}
		.aboutitems {
			.item {
				transform: translateX(0);
				transition: 1.6s;
				transition-delay: 0.5s;
				opacity: 1;
			}
		}
		.skillsitems {
			.title {
				transition-delay: 1s;
			}
			.itemwrapper {
				.item {
					opacity: 1;
					transform: translateY(0);
					&.firstrow {
						transition-delay: 0.7s;
					}
					&.secondrow {
						transition-delay: 0.9s;
					}
					&.thirdrow {
						transition-delay: 1.4s;
					}
					&.fourthrow {
						transition-delay: 1.6s;
					}
				}
			}
		}
		.readmystory {
			transform: translateX(0);
			transition: 1.6s;
			transition-delay: 0.5s;
			opacity: 1;
		}
		.mystorybutton {
			transform: translateX(0);
			opacity: 1;
		}
	}
}
