.contact {
	display: flex;
	transform: translateY(-20vh);
	opacity: 0;
	visibility: hidden;
	transition: 0.8s;
	.title {
		position: relative;
		top: 60vh;
		left: 48vw;
		color: white;
		font-size: 7vw;
	}
	&.active {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	.email {
		position: absolute;
		top: 77vh;
		left: 57vw;
		color: white;
		user-select: text;
	}
	.number {
		position: absolute;
		top: 80vh;
		left: 57vw;
		color: white;
		user-select: text;
	}
}
