.displayable-menu {
	z-index: 50;
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	color: rgb(0, 0, 0);
	background: linear-gradient(
		30deg,
		rgb(103, 0, 151) 5%,
		rgb(133, 0, 177) 24%,
		rgb(211, 137, 0) 100%
	);
	&.hidden {
		visibility: hidden;
		opacity: 0;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.menu-button {
		font-size: 10vh;
		font-weight: 500;
		text-transform: uppercase;
		margin: 1rem 0;
		transition: 0.15s;
		&:hover {
			cursor: pointer;
			color: rgb(250, 250, 250);
		}
	}
}
