.home {
	.DC {
		position: absolute;
		top: 36vh;
		left: 14vw;
		width: 20vw;
		opacity: 0;
		transform: translateY(-30vh);
	}
	.diegocolino {
		position: absolute;
		top: 39vh;
		left: 39vw;
		width: 20vw;
		font-size: 12vh;
		font-weight: 400;
		font-family: 'Jost', sans-serif;
		opacity: 0;
		transform: translateY(-20vh);
		color: white;
	}
	.softwaredeveloper {
		position: absolute;
		top: 47vh;
		left: 63vw;
		width: 30vw;
		font-size: 6vh;
		font-weight: 500;
		opacity: 0;
		transform: translateX(20vw);
		background: linear-gradient(to right, #cf7145 0%, #cd66d6 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.wire {
		position: absolute;
		top: 100vh;
		left: 0;
		width: 100vw;
		height: 0vh;
		transition: 1s;
	}
	.scrolldown {
		color: white;
		position: absolute;
		top: 78vh;
		left: 1.4vw;
		opacity: 0;
		transform: rotate(-90deg) translateX(30vh);
		font-size: 1.6w;
		letter-spacing: 2px;
	}
	&.active {
		.DC {
			opacity: 1;
			transform: translateY(0);
			transition: 0.8s;
		}
		.diegocolino {
			opacity: 1;
			transform: translateY(0);
			transition: 1s;
		}
		.softwaredeveloper {
			opacity: 1;
			transform: translateX(0);
			transition: 1.4s;
		}
		.scrolldown {
			transform: translateX(0) rotate(-90deg);
			opacity: 1;
			transition: 1s;
			transition-delay: 1s;
		}
		.wire {
			top: 20vh;
			height: 80vh;
			transition: 1s;
			transition-delay: 0.5s;
		}
	}
}
