.mywork {
	display: flex;
	position: relative;
	.title {
		position: relative;
		top: 40vh;
		left: 35vw;
		color: white;
		font-size: 7vw;
		transform: translateY(-20vh);
		opacity: 0;
		transition: 1.5s;
	}
	.myworkselectables {
		position: absolute;
		display: flex;
		top: 71vh;
		left: 0vw;
		height: 13vh;
		.selectable {
			margin-right: 2vw;
			width: 12vw;
			height: 13vh;
			border-radius: 0.4rem;
			background: linear-gradient(
				123deg,
				rgba(216, 60, 226, 1) 12%,
				rgba(0, 98, 176, 1) 100%
			);
			transition: 0.2s;
			&:hover {
				opacity: 1 !important;
			}
			p {
				display: flex;
				justify-content: center;
				font-weight: 500;
				margin-top: 13vh;
				position: relative;
				color: white;
			}
		}
	}
	&.active {
		.title {
			transform: translateY(0);
			opacity: 1;
			width: 40vw;
		}
	}
}
