.mywork {
	display: flex;
	position: relative;
	.title {
		position: relative;
		top: 15vh;
		left: 10vw;
		color: white;
		font-size: 7vw;
		transform: translateY(-20vh);
		opacity: 0;
		transition: 0.8s;
	}
	.displayer {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		width: 65vw;
		height: 100vh;
		opacity: 0;
		transition: 0.5s;
		transform: translateY(5vw);
		.element {
			position: absolute;
			width: 20vw;
			height: 20vh;
			color: white;
			opacity: 0;
			&.active {
				z-index: 50;
				opacity: 1;
				transition: 1s;
				.mobiledisplay {
					.firstim {
						transform: translateY(0vw);
					}
					.secondim {
						transform: translateY(0vw);
					}
				}
			}
			.mobiledisplay {
				display: flex;
				position: relative;
				left: 24vw;
				top: -28vh;
				width: 30vw;
				height: 20vw;
				.firstim {
					position: relative;
					top: 1vw;
					max-width: 10vw;
					max-height: 17vw;
					transform: translateY(-10vw);
					transition: 1s;
				}
				.secondim {
					top: -1vw;
					position: relative;
					max-width: 10vw;
					max-height: 17vw;
					transform: translateY(-10vw);
					transition: 1s;
					// transition-delay: 0.1s;
				}
				.backim {
					width: 40vw;
					height: 30vw;
					position: relative;
					left: -23.5vw;
					top: -5.5vw;
					z-index: -5;
					transition: 2s;
				}
			}
		}
	}
	.container {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 66vw;
		width: 35vw;
		height: 100vh;
		margin-top: 20vh;
		.item {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: rgb(255, 255, 255);
			text-transform: uppercase;
			border-radius: 0.2rem;
			transition: ease-in-out 1s;
			opacity: 0.3;
			img {
				width: 100%;
				height: 100%;
				z-index: -1;
			}
			&.valorantreact {
				background: linear-gradient(
						180deg,
						rgba(116, 19, 148, 0.7) 0%,
						rgba(13, 37, 124, 0.7) 100%
					),
					url('../img/mywork/valorantreact.png');
				background-size: cover;
			}
			&.ios {
				background: linear-gradient(
						180deg,
						rgba(116, 19, 148, 0.7) 0%,
						rgba(13, 37, 124, 0.7) 100%
					),
					url('../img/mywork/iosdesigns.png');
				background-size: cover;
			}
			&.minipeople {
				background: linear-gradient(
						180deg,
						rgba(116, 19, 148, 0.7) 0%,
						rgba(13, 37, 124, 0.7) 100%
					),
					url('../img/mywork/minipeopleinthejungle.png');
				background-size: cover;
			}
			&.kitchen {
				background: linear-gradient(
						180deg,
						rgba(116, 19, 148, 0.7) 0%,
						rgba(13, 37, 124, 0.7) 100%
					),
					url('../img/mywork/kitchen.png');
				background-size: cover;
			}
			&.portfolios {
				background: linear-gradient(
						180deg,
						rgba(116, 19, 148, 0.7) 0%,
						rgba(13, 37, 124, 0.7) 100%
					),
					url('../img/mywork/forest.png');
				background-size: cover;
			}
			&.first {
				top: 9vh;
				height: 8vh;
				width: 8vw;
				margin-left: 14vw;
				font-size: 0.45vw;
			}
			&.second {
				top: 19vh;
				height: 11vh;
				width: 11vw;
				margin-left: 9vw;
				z-index: 1;
				font-size: 0.6vw;
			}
			&.third {
				top: 33vh;
				height: 16vh;
				width: 16vw;
				z-index: 2;
				font-size: 0.85vw;
				opacity: 1;
			}
			&.fourth {
				top: 52vh;
				height: 11vh;
				width: 11vw;
				margin-right: 9vw;
				z-index: 1;
				font-size: 0.6vw;
			}
			&.fifth {
				top: 65vh;
				height: 8vh;
				width: 8vw;
				margin-right: 14vw;
				font-size: 0.45vw;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	&.active {
		.title {
			transform: translateY(0);
			opacity: 1;
			width: 40vw;
		}
		.displayer {
			opacity: 1;
			transition: 1.5s;
			transition-delay: 0.3s;
			transform: translateY(0);
		}
	}
}
