.mywork {
	display: flex;
	position: relative;
	.title {
		position: relative;
		top: 40vh;
		width: 100vw;
		text-align: center;
		left: 0;
		color: white;
		font-size: 14vh;
		opacity: 0;
		transition: 2s;
		transition-delay: 0;
	}
	.wire {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition: 1s;
		&.first {
			clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
			background-image: url(/img/mywork/wire1.png);
			background-position: center;
			background-size: cover;
		}
		&.second {
			clip-path: circle(11.6% at 56% 34%);
			background-image: url(/img/mywork/wire2.png);
			background-position: center;
			background-size: cover;
		}
	}
	.myworkselectables {
		position: absolute;
		display: flex;
		justify-content: space-around;
		top: 71vh;
		left: 5vw;
		height: 13vh;
		width: 90vw;
		transition: 1s;
		.selectable {
			width: 11.5vw;
			height: 13vh;
			border-radius: 0.4rem;
			background: linear-gradient(
				123deg,
				rgb(0, 0, 0) 12%,
				rgb(0, 0, 0) 100%
			);
			transition: 0.5s;
			&:hover {
				cursor: pointer;
				opacity: 1 !important;
			}
			p {
				display: flex;
				justify-content: center;
				font-weight: 500;
				margin-top: 13vh;
				position: relative;
				color: white;
			}
			&:hover {
				cursor: pointer;
				width: 14vw;
				height: 16vh;
				transform: translateY(-1.5vh);
				background: rgb(255,255,255);
				border: 2px solid rgb(255, 255, 255);
			}
			&.fir {
				background-image: url('../img/mywork/small_react.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
			&.sec {
				background-image: url('../img/mywork/frame_underdevelopment.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
			&.thi {
				background-image: url('../img/mywork/small_minipeopleinthejungle.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
			&.fou {
				background-image: url('../img/mywork/small_mybrand.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
			&.fif {
				background-image: url('../img/mywork/small_iosdesigns.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
			&.six {
				background-image: url('../img/mywork/small_metastars.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
			&.sev {
				background-image: url('../img/mywork/small_animalesparticulares.png');
				background-size: cover;
				background-position: center;
				&:hover {
				opacity: 1;
				}
			}
		}
		&.minimized {
			top: 95vh;
			left: 40vw;
			width: 20vw;
			height: 4vh;
			z-index: 15;
			.selectable {
				width: 2vw;
				height: 2vh;
				background: rgba(255, 255, 255, 0);
				border: 0.1rem solid #FFFFFF;
				border-radius: 0.4rem;
				transition: 0,5s;
				&:hover {
					cursor: pointer;
					width: 3vw;
					height: 3vh;
					transform: translateY(-0.5vh);
				}
				&.active {
					background: rgba(255, 255, 255, 0.9);
				}
			}
		}
	}
	.workdisplayed {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100vw;
		height: 100vh;
		transition: 0.5s;
		opacity: 0;
		visibility: hidden;
		&.active {
			visibility: visible;
			opacity: 1;
			top: 0 !important;
			left: 0 !important;
		}
		&.fir {
			background-image: url('../img/mywork/frame_react.png');
			background-size: cover;
			background-position: center;
		}
		&.sec {
			background-image: url('../img/mywork/frame_underdevelopment.png');
			background-size: cover;
			background-position: center;
		}
		&.thi {
			background-image: url('../img/mywork/frame_minipeopleinthejungle.png');
			background-size: cover;
			background-position: center;
		}
		&.fou {
			background-image: url('../img/mywork/frame_myportfolio.png');
			background-size: cover;
			background-position: center;
		}
		&.fif {
			background-image: url('../img/mywork/frame_iosdesigns.png');
			background-size: cover;
			background-position: center;
		}
		&.six {
			background-image: url('../img/mywork/frame_metastars.png');
			background-size: cover;
			background-position: center;
		}
		&.sev {
			background-image: url('../img/mywork/frame_animalesparticulares.png');
			background-size: cover;
			background-position: center;
		}
		.clickables {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 90vh;
			left: 40vw;
			width: 20vw;
			height: 4vh;
			opacity: 0.7;
			p {
				color: white;
				margin: 0 10px;
				font-weight: 400;
			}
			a {
				height: 100%;
				img {
					height: 100%;
				}
			}
		}
	}
	&.active {
		.wire {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			transition: 5s;
			&.second {
				clip-path: circle(86.2% at 56% 34%);
				transition: 3s;
				transition-delay: 1s;
			}
		}
		.title {
			transition: 1.5s;
			transition-delay: 0.5s;
			transform: translateY(0);
			opacity: 1;
		}
	}
	.myworkcloser {
		position: absolute;
		display: flex;
		align-items: center;
		top: 15vh;
		left: 76vw;
		width: 3rem;
		height: 3rem;
		background-color: rgba(0, 0, 0, 0);
		z-index: 15;
		visibility: hidden;
		transition: 0.5s;
		opacity: 0;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		&:hover {
			cursor: pointer;
			.stick {
				&.one {
					transform: translateX(0.75rem) rotate(225deg);
				}
				&.two {
					transform: translateX(-0.75rem) rotate(-225deg);
				}	
			}
		}
		.stick {
			width: 1.5rem;
			height: 3px;
			background-color: white;
			transition: 0.5s;
			&.one {
				transform: translateX(0.75rem) rotate(45deg);
			}
			&.two {
				transform: translateX(-0.75rem) rotate(-45deg);
			}
		}
	}
}
