@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap");
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

nav {
  width: 80vw;
  margin: 0 10vw;
  padding: 1rem;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

nav .left {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .left img {
  height: 3rem;
  margin-left: 1.5rem;
}

nav .left img.Diego {
  height: 2.6rem;
}

nav .left:hover {
  cursor: pointer;
}

nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .right img {
  width: 3rem;
  margin: 0 0.5rem;
}

nav .right img:hover {
  cursor: pointer;
  opacity: 0.6;
}

nav .right .menu {
  height: 2rem;
  margin: 0 1.5rem;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

nav .right .menu .line {
  position: absolute;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
  width: 35px;
  height: 3px;
}

nav .right .menu .line.upper {
  top: 15%;
}

nav .right .menu .line.lower {
  top: 60%;
}

nav .right .menu:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .right .menu.closed .line.upper {
  top: 37.5%;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

nav .right .menu.closed .line.lower {
  top: 37.5%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

nav.hidden .left {
  opacity: 0;
  visibility: hidden;
}

nav.hidden .sliding {
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw);
}

nav .sliding {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  top: -42vh;
  left: -10vw;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  /*sets the base colour for the contrast*/
  opacity: 0.8;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .sliding div {
  position: relative;
  background: rgba(255, 255, 255, 0);
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.5rem;
  border: 2px solid white;
  border-radius: 50%;
}

nav .sliding div.ball {
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-2.6rem);
          transform: translateY(-2.6rem);
  background: white;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .DC {
  width: 20vw;
  min-width: 20rem;
  opacity: 0;
  -webkit-transform: translateY(-30vh);
          transform: translateY(-30vh);
  margin: 1vw;
}

.home .diegocolino {
  width: 20vw;
  min-width: 20rem;
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  margin: 2vw;
}

.home .softwaredeveloper {
  font-size: 3.5vw;
  font-weight: 500;
  opacity: 0;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  background: -webkit-gradient(linear, left top, right top, from(#cf7145), to(#cd66d6));
  background: linear-gradient(to right, #cf7145 0%, #cd66d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1vw;
}

.home .scrolldown {
  color: white;
  position: absolute;
  top: 89vh;
  left: 1vw;
  opacity: 0;
  -webkit-transform: rotate(-90deg) translateX(30vh);
          transform: rotate(-90deg) translateX(30vh);
  font-size: 1vw;
  letter-spacing: 2px;
}

.home.active .DC {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.home.active .diegocolino {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.home.active .softwaredeveloper {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.home.active .scrolldown {
  -webkit-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.aboutme .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  position: relative;
  top: 15vh;
  left: 0;
  width: 100vw;
  color: white;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  font-size: 14vh;
  z-index: 10;
}

.aboutme .wire {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
  clip: rect(0, 4vw, 100vh, 0);
  background-image: url(/img/aboutme/wire4.png);
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.aboutme .infoabout {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  top: 35vh;
  left: 0;
}

.aboutme .infoabout .infotext {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.aboutme .infoabout .infotext .infoitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 7rem;
  margin: 1rem;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.aboutme .infoabout .infotext .infoitem:nth-child(1) {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

.aboutme .infoabout .infotext .infoitem:nth-child(2) {
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

.aboutme .infoabout .infotext .infoitem:nth-child(3) {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.aboutme .infoabout .infotext .infoitem .icon {
  width: 2.5rem;
  height: 2.5rem;
}

.aboutme .infoabout .infotext .infoitem .icon.career {
  background-image: url(/img/aboutme/graduate.png);
  background-size: cover;
}

.aboutme .infoabout .infotext .infoitem .icon.palace {
  background-image: url(/img/aboutme/palace.svg);
  background-size: cover;
}

.aboutme .infoabout .infotext .infoitem .icon.work {
  background-image: url(/img/aboutme/mac.png);
  background-size: cover;
}

.aboutme .infoabout .infotext .infoitem .titletext {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.3rem;
  width: 20rem;
  text-transform: uppercase;
}

.aboutme .infoabout .infotext .infoitem .titletext.aero {
  background: -webkit-gradient(linear, left top, right top, from(#c94ae2), to(#ec4a21));
  background: linear-gradient(to right, #c94ae2 0%, #ec4a21 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme .infoabout .infotext .infoitem .titletext.madrid {
  background: -webkit-gradient(linear, left top, right top, from(#cf5739), to(#6520e4));
  background: linear-gradient(to right, #cf5739 0%, #6520e4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme .infoabout .infotext .infoitem .titletext.front {
  background: -webkit-gradient(linear, left top, right top, from(#6520e4), to(#cf5739));
  background: linear-gradient(to right, #6520e4 0%, #cf5739 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme .infoabout .infotext .infoitem .text {
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  width: 20rem;
}

.aboutme .infoabout .infoicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.aboutme .infoabout .infoicons .inforow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  background-color: black;
  padding: 1vh;
}

.aboutme .infoabout .infoicons .inforow .infoicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(5rem) translateY(-2rem);
          transform: translateX(5rem) translateY(-2rem);
}

.aboutme .infoabout .infoicons .inforow .infoicon img {
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
}

.aboutme .infoabout .infoicons .inforow .infoicon .text {
  text-align: center;
  width: 4rem;
  height: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

.aboutme .readmystory {
  position: absolute;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 60vh;
  right: 0vw;
  font-size: 1rem;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#ec4a21), to(#b24ae2));
  background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateX(5vw) rotate(-90deg);
          transform: translateX(5vw) rotate(-90deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutme .mystorybutton {
  position: absolute;
  top: 60vh;
  right: 1vw;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutme .mystorybutton .arrow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 3px;
  width: 20px;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#ec4a21), to(#b24ae2));
  background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
}

.aboutme .mystorybutton .arrow.up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
  left: 14px;
}

.aboutme .mystorybutton .arrow.down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
  left: 14px;
}

.aboutme .mystorybutton:hover {
  cursor: pointer;
}

.aboutme .mystorybutton.opened .arrow {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
}

.aboutme .mystorybutton.opened .arrow.up {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.aboutme .mystorybutton.opened .arrow.down {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.aboutme .blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0vw;
  z-index: 15;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  visibility: hidden;
}

.aboutme .blur.opened {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100vw;
  visibility: visible;
}

.aboutme .mystory {
  position: absolute;
  width: 30vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutme .mystory.opened {
  left: 0vw;
}

.aboutme .mystory .story {
  width: 30vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutme .mystory .story p {
  width: 23vw;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-indent: 2rem;
}

.aboutme .mystory .story img {
  width: 3vw;
  position: relative;
  top: 5vh;
  left: 6vw;
}

.aboutme .mystory .story.one {
  opacity: 1;
}

.aboutme .mystory .story-iterator {
  position: absolute;
  top: 80vh;
  left: 12.5vw;
  width: 5vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme .mystory .story-iterator .iterator-ball {
  height: 1vh;
  width: 1vh;
  border: 0.3vh solid white;
  border-radius: 50%;
}

.aboutme .mystory .story-iterator .iterator-ball:hover {
  cursor: pointer;
}

.aboutme .mystory .story-iterator .iterator-ball-filled {
  height: 1vh;
  width: 1vh;
  border: 0.3vh solid white;
  background-color: white;
  position: absolute;
  left: 0vw;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutme.active .title {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.aboutme.active .infoabout .infotext .infoitem {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.aboutme.active .infoabout .infotext .infoitem:nth-child(1) {
  -webkit-transition-delay: 3.2s;
          transition-delay: 3.2s;
}

.aboutme.active .infoabout .infotext .infoitem:nth-child(2) {
  -webkit-transition-delay: 3.85s;
          transition-delay: 3.85s;
}

.aboutme.active .infoabout .infotext .infoitem:nth-child(3) {
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}

.aboutme.active .infoicons .inforow .infoicon {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.aboutme.active .infoicons .inforow .infoicon:nth-child(1) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.aboutme.active .infoicons .inforow .infoicon:nth-child(2) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.aboutme.active .infoicons .inforow .infoicon:nth-child(3) {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

.aboutme.active .infoicons .inforow .infoicon:nth-child(4) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.aboutme.active .infoicons .inforow .infoicon:nth-child(5) {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

.aboutme.active .wire {
  clip: rect(0, 100vw, 100vh, 0vh);
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.aboutme.active .readmystory {
  -webkit-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
  -webkit-transition: 1.6s;
  transition: 1.6s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
  opacity: 1;
}

.aboutme.active .mystorybutton {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
  opacity: 1;
}

.mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mywork .title {
  position: relative;
  top: 40vh;
  width: 100vw;
  text-align: center;
  left: 0;
  color: white;
  font-size: 14vh;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.mywork .wire {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.mywork .wire.first {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  background-image: url(/img/mywork/wire1.png);
  background-position: center;
  background-size: cover;
}

.mywork .wire.second {
  -webkit-clip-path: circle(11.6% at 56% 34%);
          clip-path: circle(11.6% at 56% 34%);
  background-image: url(/img/mywork/wire2.png);
  background-position: center;
  background-size: cover;
}

.mywork .myworkselectables {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 71vh;
  left: 5vw;
  height: 13vh;
  width: 90vw;
  -webkit-transition: 1s;
  transition: 1s;
}

.mywork .myworkselectables .selectable {
  width: 11.5vw;
  height: 13vh;
  border-radius: 0.4rem;
  background: linear-gradient(123deg, black 12%, black 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mywork .myworkselectables .selectable:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.mywork .myworkselectables .selectable p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  margin-top: 13vh;
  position: relative;
  color: white;
}

.mywork .myworkselectables .selectable:hover {
  cursor: pointer;
  width: 14vw;
  height: 16vh;
  -webkit-transform: translateY(-1.5vh);
          transform: translateY(-1.5vh);
  background: white;
  border: 2px solid white;
}

.mywork .myworkselectables .selectable.fir {
  background-image: url("../img/mywork/small_react.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.fir:hover {
  opacity: 1;
}

.mywork .myworkselectables .selectable.sec {
  background-image: url("../img/mywork/small_runefy.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.sec:hover {
  opacity: 1;
}

.mywork .myworkselectables .selectable.thi {
  background-image: url("../img/mywork/small_minipeopleinthejungle.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.thi:hover {
  opacity: 1;
}

.mywork .myworkselectables .selectable.fou {
  background-image: url("../img/mywork/small_mybrand.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.fou:hover {
  opacity: 1;
}

.mywork .myworkselectables .selectable.fif {
  background-image: url("../img/mywork/small_iosdesigns.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.fif:hover {
  opacity: 1;
}

.mywork .myworkselectables .selectable.six {
  background-image: url("../img/mywork/small_metastars.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.six:hover {
  opacity: 1;
}

.mywork .myworkselectables .selectable.sev {
  background-image: url("../img/mywork/small_animalesparticulares.png");
  background-size: cover;
  background-position: center;
}

.mywork .myworkselectables .selectable.sev:hover {
  opacity: 1;
}

.mywork .myworkselectables.minimized {
  top: 95vh;
  left: 40vw;
  width: 20vw;
  height: 4vh;
  z-index: 15;
}

.mywork .myworkselectables.minimized .selectable {
  width: 2vw;
  height: 2vh;
  background: rgba(255, 255, 255, 0);
  border: 0.1rem solid #FFFFFF;
  border-radius: 0.4rem;
  -webkit-transition: 0,5s;
  transition: 0,5s;
}

.mywork .myworkselectables.minimized .selectable:hover {
  cursor: pointer;
  width: 3vw;
  height: 3vh;
  -webkit-transform: translateY(-0.5vh);
          transform: translateY(-0.5vh);
}

.mywork .myworkselectables.minimized .selectable.active {
  background: rgba(255, 255, 255, 0.9);
}

.mywork .workdisplayed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.mywork .workdisplayed.active {
  visibility: visible;
  opacity: 1;
  top: 0 !important;
  left: 0 !important;
}

.mywork .workdisplayed.fir {
  background-image: url("../img/mywork/frame_react.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed.sec {
  background-image: url("../img/mywork/frame_underdevelopment.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed.thi {
  background-image: url("../img/mywork/frame_minipeopleinthejungle.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed.fou {
  background-image: url("../img/mywork/frame_myportfolio.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed.fif {
  background-image: url("../img/mywork/frame_iosdesigns.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed.six {
  background-image: url("../img/mywork/frame_metastars.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed.sev {
  background-image: url("../img/mywork/frame_animalesparticulares.png");
  background-size: cover;
  background-position: center;
}

.mywork .workdisplayed .clickables {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 90vh;
  left: 40vw;
  width: 20vw;
  height: 4vh;
  opacity: 0.7;
}

.mywork .workdisplayed .clickables p {
  color: white;
  margin: 0 10px;
  font-weight: 400;
}

.mywork .workdisplayed .clickables a {
  height: 100%;
}

.mywork .workdisplayed .clickables a img {
  height: 100%;
}

.mywork.active .wire {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: 5s;
  transition: 5s;
}

.mywork.active .wire.second {
  -webkit-clip-path: circle(86.2% at 56% 34%);
          clip-path: circle(86.2% at 56% 34%);
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.mywork.active .title {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.mywork .myworkcloser {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 15vh;
  left: 76vw;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  z-index: 15;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.mywork .myworkcloser.active {
  visibility: visible;
  opacity: 1;
}

.mywork .myworkcloser:hover {
  cursor: pointer;
}

.mywork .myworkcloser:hover .stick.one {
  -webkit-transform: translateX(0.75rem) rotate(225deg);
          transform: translateX(0.75rem) rotate(225deg);
}

.mywork .myworkcloser:hover .stick.two {
  -webkit-transform: translateX(-0.75rem) rotate(-225deg);
          transform: translateX(-0.75rem) rotate(-225deg);
}

.mywork .myworkcloser .stick {
  width: 1.5rem;
  height: 3px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mywork .myworkcloser .stick.one {
  -webkit-transform: translateX(0.75rem) rotate(45deg);
          transform: translateX(0.75rem) rotate(45deg);
}

.mywork .myworkcloser .stick.two {
  -webkit-transform: translateX(-0.75rem) rotate(-45deg);
          transform: translateX(-0.75rem) rotate(-45deg);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contact .title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  top: 69vh;
  left: 0;
  width: 100vw;
  color: white;
  font-size: 14vh;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
  opacity: 0;
}

.contact .wire {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
  background-image: url(/img/contact/wiro.png);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 23% 0, 23% 0, 0 0);
          clip-path: polygon(0 0, 23% 0, 23% 0, 0 0);
}

.contact .clickmeimage {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
  background-image: url(/img/contact/frame.png);
  background-size: cover;
  -webkit-clip-path: circle(4% at 50% 101%);
          clip-path: circle(4% at 50% 101%);
}

.contact .clickmeimage:hover {
  cursor: pointer;
}

.contact .clickmetext {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  left: 0;
  top: 110vh;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  font-size: 2vh;
  letter-spacing: 0.2rem;
  color: white;
  width: 100vw;
}

.contact .clickmetext:hover {
  cursor: pointer;
}

.contact .contactinfo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30vh;
  left: 0;
  width: 100vw;
}

.contact .contactinfo .sphere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 22rem;
  height: 22rem;
  background-color: black;
  border-radius: 50%;
  z-index: -10;
}

.contact .contactinfo .sphere .dc {
  width: 12rem;
  height: 12rem;
  background-image: url(/img/contact/DC_logo_LIGHT.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
}

.contact .contactinfo .sphere .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 20rem;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: white;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.contact .contactinfo .sphere .text::-moz-selection {
  background: white;
  color: #000000;
}

.contact .contactinfo .sphere .text::selection {
  background: white;
  color: #000000;
}

.contact.active .title {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.contact.active .wire {
  -webkit-transition: 3.5s ease-out;
  transition: 3.5s ease-out;
  -webkit-clip-path: polygon(0 0, 23% 0, 100% 52%, 0 100%);
          clip-path: polygon(0 0, 23% 0, 100% 52%, 0 100%);
}

.contact.active .clickmetext {
  top: 97vh;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.contact.active .clickmeimage {
  top: 0;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.contact.active.opened .title {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: black;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
}

.contact.active.opened .clickmeimage {
  -webkit-clip-path: circle(100% at 50% 101%);
          clip-path: circle(100% at 50% 101%);
  cursor: default;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.contact.active.opened .clickmetext {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  cursor: default;
}

.contact.active.opened .wire {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.contact.active.opened .contactinfo .sphere {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
  opacity: 1;
}

@media (max-width: 800px) {
  body {
    overflow-y: hidden;
  }
  .mobileadvice {
    position: fixed;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1000000;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
  }
  .content {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    background: none !important;
  }
  section {
    scroll-snap-align: start;
  }
  .home {
    background-image: url("../img/background1.jpg");
    background-position: center;
    background-size: cover;
  }
  .home .titleimage {
    margin-top: 2rem;
    width: 80vw;
    height: 20vh;
  }
  .home .separator {
    margin-top: 1rem;
  }
  .aboutme {
    background-image: url("../img/background2.jpg");
    background-position: center;
    background-size: cover;
  }
  .aboutme .mystory {
    width: 0;
  }
  .mywork {
    background-color: blue;
    background-position: center;
    background-size: cover;
  }
  .contact {
    background-color: blueviolet;
    background-position: center;
    background-size: cover;
  }
}

.displayable-menu {
  z-index: 50;
  position: absolute;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  background: linear-gradient(30deg, #670097 5%, #8500b1 24%, #d38900 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.displayable-menu.hidden {
  visibility: hidden;
  opacity: 0;
}

.displayable-menu .menu-button {
  font-size: 9vh;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1rem 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.displayable-menu .menu-button:hover {
  cursor: pointer;
  color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

body.stop-transitions * {
  -webkit-transition: none !important;
  transition: none !important;
}

.mobileadvice {
  display: none;
}

.content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../img/backgroundddd2.png");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/backgroundddd2.png");
  background-size: cover;
  background-position: center top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 400;
}

section {
  height: 100vh;
  background-color: rgba(15, 15, 15, 0);
  font-weight: 500;
}

section .title {
  height: 15vh;
}
/*# sourceMappingURL=styles.css.map */