@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap");
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

nav {
  width: 80vw;
  margin: 0 10vw;
  padding: 1rem;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

nav .left {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .left img {
  height: 3rem;
  margin-left: 1.5rem;
}

nav .left img.Diego {
  height: 2.6rem;
}

nav .left:hover {
  cursor: pointer;
}

nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .right img {
  width: 3rem;
  margin: 0 0.5rem;
}

nav .right img:hover {
  cursor: pointer;
  opacity: 0.6;
}

nav .right .menu {
  height: 2rem;
  margin: 0 1.5rem;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

nav .right .menu .line {
  position: absolute;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
  width: 35px;
  height: 3px;
}

nav .right .menu .line.upper {
  top: 15%;
}

nav .right .menu .line.lower {
  top: 60%;
}

nav .right .menu:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .right .menu.closed .line.upper {
  top: 37.5%;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

nav .right .menu.closed .line.lower {
  top: 37.5%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

nav.hidden .left {
  opacity: 0;
  visibility: hidden;
}

.home .DC {
  position: absolute;
  top: 36vh;
  left: 14vw;
  width: 20vw;
  opacity: 0;
  -webkit-transform: translateY(-30vh);
          transform: translateY(-30vh);
}

.home .diegocolino {
  position: absolute;
  top: 39vh;
  left: 39vw;
  width: 20vw;
  font-size: 12vh;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  opacity: 0;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  color: white;
}

.home .softwaredeveloper {
  position: absolute;
  top: 47vh;
  left: 63vw;
  width: 30vw;
  font-size: 6vh;
  font-weight: 500;
  opacity: 0;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  background: -webkit-gradient(linear, left top, right top, from(#cf7145), to(#cd66d6));
  background: linear-gradient(to right, #cf7145 0%, #cd66d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .wire {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 0vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.home .scrolldown {
  color: white;
  position: absolute;
  top: 89vh;
  left: 1.4vw;
  opacity: 0;
  -webkit-transform: rotate(-90deg) translateX(30vh);
          transform: rotate(-90deg) translateX(30vh);
  font-size: 1.6w;
  letter-spacing: 2px;
}

.home.active .DC {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.home.active .diegocolino {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.home.active .softwaredeveloper {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.home.active .scrolldown {
  -webkit-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.aboutme .title {
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  top: 15vh;
  left: 10vw;
  color: white;
  font-size: 14vh;
  z-index: 10;
}

.aboutme .wire {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
  clip: rect(0, 4.4vw, 100vh, 0);
  z-index: -10;
}

.aboutme .aboutitems {
  position: absolute;
  top: 38vh;
  left: 9vw;
  width: 38vw;
  height: 40vh;
  color: white;
}

.aboutme .aboutitems .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 33%;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.aboutme .aboutitems .item .right {
  margin-left: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
}

.aboutme .aboutitems .item .right .up {
  font-size: 2vh;
  font-weight: bold;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#ec4a21), to(#b24ae2));
  background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme .aboutitems .item .right .down {
  font-size: 1.7vh;
  margin-left: 2vw;
}

.aboutme .aboutitems .item .right .downer {
  font-size: 1.7vh;
}

.aboutme .aboutitems .item.origin {
  -webkit-transform: translateX(-10vw);
          transform: translateX(-10vw);
}

.aboutme .aboutitems .item.origin .left {
  height: 55%;
  margin-left: 8.5vw;
}

.aboutme .aboutitems .item.origin .downer {
  margin-left: 2.5vw;
}

.aboutme .aboutitems .item.studies {
  -webkit-transform: translateX(-30vw);
          transform: translateX(-30vw);
}

.aboutme .aboutitems .item.studies .left {
  height: 35%;
  margin-left: 10vw;
}

.aboutme .aboutitems .item.studies .downer {
  margin-left: 3.2vw;
}

.aboutme .aboutitems .item.work {
  -webkit-transform: translateX(-40vw);
          transform: translateX(-40vw);
}

.aboutme .aboutitems .item.work .left {
  height: 40%;
  margin-left: 12vw;
}

.aboutme .aboutitems .item.work .downer {
  margin-left: 1.8vw;
}

.aboutme .skillsitems {
  position: absolute;
  top: 43vh;
  left: 42vw;
  width: 30vw;
  height: 50vh;
  color: white;
}

.aboutme .skillsitems .title {
  position: relative;
  top: 2vh;
  left: 4.5vw;
  font-size: 2.7vh;
  height: 7vh;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
  width: 15vh;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ec4a21), to(#b24ae2));
  background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme .skillsitems .itemwrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 0.5vw;
  width: 25vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2vw;
}

.aboutme .skillsitems .itemwrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7vw;
  color: white;
  height: 6vh;
  width: 6vh;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.aboutme .skillsitems .itemwrapper .item img {
  position: relative;
  top: 0;
  left: 0;
  height: 4.5vh;
  width: 4.5vh;
}

.aboutme .readmystory {
  position: absolute;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: 55.5vh;
  left: 71.5vw;
  font-size: 3vh;
  background: -webkit-gradient(linear, left top, right top, from(#ec4a21), to(#b24ae2));
  background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
}

.aboutme .mystorybutton {
  position: absolute;
  top: 73vh;
  left: 83vw;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.aboutme .mystorybutton .arrow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 3px;
  width: 20px;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#ec4a21), to(#b24ae2));
  background: linear-gradient(to right, #ec4a21 0%, #b24ae2 100%);
}

.aboutme .mystorybutton .arrow.up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
  left: 14px;
}

.aboutme .mystorybutton .arrow.down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
  left: 14px;
}

.aboutme .mystorybutton:hover {
  cursor: pointer;
}

.aboutme .mystorybutton.opened {
  -webkit-transform: translateX(10vw) !important;
          transform: translateX(10vw) !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.aboutme .mystorybutton.opened .arrow {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
}

.aboutme .mystorybutton.opened .arrow.up {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.aboutme .mystorybutton.opened .arrow.down {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.aboutme .blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0vw;
  z-index: 15;
}

.aboutme .blur.opened {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100vw;
}

.aboutme .mystory {
  position: absolute;
  width: 35vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutme .mystory.opened {
  left: 0vw;
}

.aboutme .mystory .story {
  background: linear-gradient(30deg, rgba(108, 0, 145, 0.99) 0%, rgba(79, 0, 105, 0.99) 24%, rgba(122, 80, 0, 0.99) 100%);
  width: 100vw;
  height: 100vh;
}

.aboutme.active .title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.aboutme.active .wire {
  clip: rect(0, 100vw, 100vh, 0vh);
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.aboutme.active .aboutitems .item {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1.6s;
  transition: 1.6s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.aboutme.active .skillsitems .title {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.aboutme.active .skillsitems .itemwrapper .item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.aboutme.active .skillsitems .itemwrapper .item.firstrow {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.aboutme.active .skillsitems .itemwrapper .item.secondrow {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.aboutme.active .skillsitems .itemwrapper .item.thirdrow {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.aboutme.active .skillsitems .itemwrapper .item.fourthrow {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.aboutme.active .readmystory {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1.6s;
  transition: 1.6s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.aboutme.active .mystorybutton {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.mywork div {
  position: relative;
  top: 15vh;
  left: 10vw;
  color: white;
  font-size: 7vw;
}

.mywork.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.contact div {
  position: relative;
  top: 15vh;
  left: 10vw;
  color: white;
  font-size: 7vw;
}

.contact.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 800px) {
  body {
    overflow-y: auto;
  }
  .content {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    background-image: none;
  }
  section {
    scroll-snap-align: start;
  }
  .home {
    background-image: url("../img/background1.jpg");
    background-position: center;
    background-size: cover;
  }
  .home .titleimage {
    margin-top: 2rem;
    width: 80vw;
    height: 20vh;
  }
  .home .separator {
    margin-top: 1rem;
  }
  .aboutme {
    background-image: url("../img/background2.jpg");
    background-position: center;
    background-size: cover;
  }
  .mywork {
    background-image: url("../img/background3.jpg");
    background-position: center;
    background-size: cover;
  }
  .contact {
    background-image: url("../img/background4.jpg");
    background-position: center;
    background-size: cover;
  }
}

.displayable-menu {
  z-index: 50;
  position: absolute;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  background: linear-gradient(30deg, #670097 5%, #8500b1 24%, #d38900 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.displayable-menu.hidden {
  visibility: hidden;
  opacity: 0;
}

.displayable-menu .menu-button {
  font-size: 10vh;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1rem 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.displayable-menu .menu-button:hover {
  cursor: pointer;
  color: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 0, 53, 0.99)), color-stop(25%, rgba(51, 0, 71, 0.99)), color-stop(50%, rgba(0, 8, 77, 0.99)), color-stop(75%, rgba(73, 9, 0, 0.99)), to(rgba(92, 0, 50, 0.99)));
  background: linear-gradient(180deg, rgba(61, 0, 53, 0.99) 0%, rgba(51, 0, 71, 0.99) 25%, rgba(0, 8, 77, 0.99) 50%, rgba(73, 9, 0, 0.99) 75%, rgba(92, 0, 50, 0.99) 100%);
  overflow-y: hidden;
  overflow-x: hidden;
}

body.stop-transitions * {
  -webkit-transition: none !important;
  transition: none !important;
}

.content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../img/background.webp");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/background.webp");
  background-size: cover;
  background-position: left top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 400;
}

section {
  height: 100vh;
  background-color: rgba(15, 15, 15, 0);
  font-weight: 500;
}

section .title {
  height: 15vh;
}
/*# sourceMappingURL=styles.css.map */